.App {
  padding: 30px 20%;
  min-width: 800px;
  color: black;
  background-color: lightgray;
  text-align: center;
}

.App-body {
  padding: 40px;
  border-radius: 30px;
  min-height: 100vh;
  background-color: white;
}

.mode {
  margin: 0;
}

.title {
  margin: 0 0 20px;
  font-size: 32px;
  justify-content: center;
}

.memo-flexbox {
  display: flex;
  height: 600px;
}

.memo-list {
  margin: 0 20px;
  width: 200px;
  border-radius: 10px;
}

.memo-editor {
  margin: 10px;
  width: 100%;
}

.login-flexbox {
  height: 40px;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

.login-status {
  margin: 10px;
  vertical-align: baseline;
}
